{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Anmeldung Ostsee-ZaPF 2021{% endblock %}

{% macro form_group(field, help_text=None, id=None, list=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            {{ field.label }}
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            {{ field(class="form-control", list=list) }}
          </div>
{% endmacro %}

{% macro checkbox(field, label, help_text=None, id=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            <label>{{ label }}</label>
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            <div class="checkbox">
              <label>
                {{ field }}
                {{ field.label }}
              </label>
            </div>
          </div>
{% endmacro %}

{% macro datalist(list_id, options) %}
  <datalist id="{{list_id}}">
  {% for option in options %}
    <option value="{{option}}"/>
  {% endfor %}
  </datalist>
{% endmacro %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
    <div class="jumbotron">
      <h1>Hallo {{current_user.firstName}}!</h1>
      {% if confirmed == None %}
        <p>Bitte fülle das Formular unten aus, um Dich zur ZaPF anzumelden.
        Deine Fachschaft kann Dich dann später mit ihrem Token bestätigen.</p>
     	<p>Bitte überprüfe nach dem Absenden des Formulars,
        ob deine Daten gespeichert wurden. 
        Wenn das Formular nach dem Absenden wieder leer ist, 
        wurden die Daten <b>nicht</b>&nbsp;gespeichert.
        Das passiert u.a., wenn das Formular lange offen war, ohne abgeschickt oder neu geladen zu werden.
        </p>
      {% elif confirmed %}
        <p>Glückwunsch! Deine Fachschaft hat Dich bestätigt.</p>
      {% else %}
        <p>Du bist schon registriert, allerdings muss Deine Fachschaft Dich
        noch bestätigen.</p>
      {% endif %}
    </div>

    <form method="POST">
      {{ form.csrf_token }}
      {{ show_form_errors(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname) }}
          {{ form_group(form.uni, 'Wenn Du zu den Alumni gehörst, wähle bitte die Uni "Universidad de los Saccos Veteres " aus.') }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Rahmenprogramm</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.musikwunsch) }}
	  {{ form_group(form.schwimmabzeichen) }}
        </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Merch</h2>
          </div>
          <div class="panel-body">
	    <p>Der Großteil des Merchandise wird erst ab einer Mindestmenge bestellt. Der angegebene Preis ist daher auch nur der Maximalpreis bei der Mindestbestellmenge. Weitere Infos zum Merch (Design, Preise, Größen) findet ihr auf der Website:<a href="https://ostsee.zapf.in/merch/">ostsee.zapf.in/merch/</a> </p>
	  
            {{ form_group(form.tshirt, '') }}
            {{ form_group(form.tshirt_color, '') }}
            {{ form_group(form.addtshirt, 'Zusätzliche Teilnehmershirts, Farbe/ Art wie bei diesen angegeben. Falls Du eine andere Größe oder Farbe haben möchtest, schreibe bitte eine E-Mail an merch.ostseezapf21@yahoo.com') }}
            {{ form_group(form.hoodie) }}
            {{ form_group(form.hoodie_color, '') }}

            {{ form_group(form.handtuch) }}
            {{ form_group(form.tasse) }}
            {{ form_group(form.usb) }}
            {{ form_group(form.frisbee) }}
            {{ form_group(form.schal) }}
            {{ form_group(form.aufnaeher) }}
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Reiseinfos</h2>
        </div>
        <div class="panel-body">
          {{ form_group(form.anreise_verkehr, id="anreise_verkehr") }}
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h2>
        </div>
        <div class="panel-body">
          {{ form_group(form.vertrauensperson) }}
          {{ form_group(form.protokoll) }}
	  {{ form_group(form.zaepfchen, 'Wenn Du angibst ein ZaPF-Mentikon zu wollen, erklärst Du dich damit einverstanden, dass wir deine E-Mail-Adresse an dein ZaPF-Mentikon weitergegeben.') }}
	  {{ checkbox(form.mentor) }}
          {{ form_group(form.kommentar) }}
        </div>
      </div>
      {{ form.submit(class="btn-submit btn-default btn") }}
    </form>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='sose21/registration.js')}}"></script>
{% endblock %}
