{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Anmeldung ZaPF Wuerzburg 2018{% endblock %}

{% macro form_group(field, help_text=None, id=None, list=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            {{ field.label }}
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            {{ field(class="form-control", list=list) }}
          </div>
{% endmacro %}

{% macro checkbox(field, label, help_text=None, id=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            <label>{{ label }}</label>
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            <div class="checkbox">
              <label>
                {{ field }}
                {{ field.label }}
              </label>
            </div>
          </div>
{% endmacro %}

{% macro datalist(list_id, options) %}
  <datalist id="{{list_id}}">
  {% for option in options %}
    <option value="{{option}}"/>
  {% endfor %}
  </datalist>
{% endmacro %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
    <div class="jumbotron">
      <h1>Hallo {{current_user.firstName}}!</h1>
      {% if confirmed == None %}
        <p>Bitte fülle das Formular unten aus, um Dich zur ZaPF anzumelden.
        Deine Fachschaft kann Dich dann später mit ihrem Token bestätigen
        und ihre Prioritätenreihenfolge festlegen.</p>
      {% elif confirmed %}
        <p>Glückwunsch! Deine Fachschaft hat Dich bestätigt.</p>
      {% else %}
        <p>Du bist schon registriert, allerdings muss Deine Fachschaft Dich
        noch bestätigen.</p>
      {% endif %}
    </div>

    <form method="POST">
      {{ form.csrf_token }}
      {{ show_form_errors(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname) }}
          {{ form_group(form.uni, 'Wenn Du Alumnus bist, wähle bitte die Uni "Alter Sack" aus.') }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Essen</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.essen) }}
          {{ form_group(form.allergien) }}
          {{ form_group(form.heissgetraenk) }}
          {{ form_group(form.essenswunsch) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Rahmenprogramm</h3>
        </div>
        <div class="panel-body">
          <p>Hier könnt Ihr Eure Wunschexkursionen angeben.
          Informationen zu den Exkursionen könnt Ihr
          <a href="https://wuerzburg18.de/fixme" target="_blank">hier</a>
          nachlesen.</p>
          {{ form_group(form.exkursion1, id="exkursion1") }}
          {{ form_group(form.exkursion2, id="exkursion2") }}
          {{ form_group(form.exkursion3, id="exkursion3") }}
          {{ form_group(form.exkursion4, id="exkursion4") }}
          {{ form_group(form.musikwunsch) }}
          {{ checkbox(form.alternativprogramm) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.anreise, id="anreise") }}
          {{ form_group(form.anreisejahr, "Von wann kommt ihr denn?", "anreisejahr") }}
          {{ form_group(form.abreise) }}
          {{ form_group(form.schlafen, 'Wir werden zwei Untekünfte haben: Unterkunft A, groß, mit Duschen direkt im Haus, dafür weiterer Weg zur Uni. Unterkunft B für ca. 50 Personen nah an der Uni, dafür evtl. weiterer Weg zu den Duschen. Wir wollen euch die Möglichkeit geben eure Präferenz anzugeben, behalten uns aber vor im Zweifel umzuverteilen.') }}
          {{ form_group(form.tshirt) }}
          {{ form_group(form.addtshirt, 'Zusätzliche Teilnehmershirts, Größe wie bei diesen angegeben, Preis 12€/Stück. Verbindliche Kaufzusage.') }}
          {{ form_group(form.hoodie, 'Motiv wie Teilnehmershirt, maximal 30€/Stück, wird rechtzeitig vor ZaPF genau bekannt gegeben. Verbindliche Kaufzusage.') }}
          {{ checkbox(form.handtuch, 'Handtuch', 'Strandtuch 150x70cm, genaues Motiv wird eine Überraschung, maximal 23€/Stück, wird rechtzeitig vor ZaPF genau bekannt gegeben. Bei unter 25 Bestellungen insgesamt nicht möglich. Verbindliche Kaufzusage.') }}
          {{ checkbox(form.roemer, 'Weinrömer', 'Fränkischer Weinrömer (Weinglas) mit ZaPF-Motiv, maximal 12€/Stück, wird schnell billiger bei mehr Bestellungen. Genauer Preis wird rechtzeitig vor ZaPF bekannt gegeben. Bei unter 25 Bestellungen insgesamt nicht möglich. Verbindliche Kaufzusage.') }}
          {{ checkbox(form.minderjaehrig, 'Einziger Alterscheck - Wir wollen nur auf Nummer sicher gehen.') }}
          {{ form_group(form.kommentar) }}
        </div>
      </div>
      {{ form.submit(class="btn-submit btn-default btn") }}
    </form>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='wise18/registration.js')}}"></script>
{% endblock %}
