{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
	  <center><h1>Anmeldung zur <br />ZaPF in Garching vom 05. bis 09. November 2020</h1></center>
	  <p>Die Anmeldung schließt am {{ registration_close[0] }}. Danach könnt Ihr noch bis zum {{ registration_close[1] }} die Reihenfolge Eurer Teilnehmika ändern.</p>


    <p>Um Dich für die ZaPF anzumelden brauchst du einen <a href="https://auth.zapf.in/">ZaPF-Account</a>. Falls du noch keinen hast, lege dir dort einen an, und klick dann auf den Link:</p>
    <p>
    <div class="center-block" style="max-width: 300px">
      {% if registration_open %}
      <a class="btn btn-primary btn-lg btn-block" href="{{url_for('oauth_client.login')}}" role="button">Hier geht's zur Anmeldung</a>
      {% elif priorities_open %}
      <a class="btn btn-primary btn-lg btn-block" href="{{url_for('oauth_client.login')}}" role="button">Daten ändern</br> (keine Neuregistrierungen)</a>
      {% else %}
      <a class="btn btn-primary btn-lg btn-block disabled" href="#" role="button">Anmeldung geschlossen</a>
      {% endif %}
      {% if priorities_open %}
      <a class="btn btn-default btn-lg btn-block" href="{{url_for('priorities.index')}}" role="button">Reihenfolge festlegen</a>
      {% else %}
      <a class="btn btn-default btn-lg btn-block disabled" href="#" role="button">Reihenfolgeänderungen geschlossen</a>
      {% endif %}
    </div>
    </p>
    <p>Bei organisatorischen Fragen wende dich bitte über <a href="mailto:zapf@fs.tum.de">zapf@fs.tum.de</a> an die Orga. Bei technischen Problemen bei der Anmeldung wende dich über <a href="mailto:topf@zapf.in">topf@zapf.in</a> an den TOPF.</p>
  </div>
</div>
{% endblock %}
