{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% macro form_group(field, help_text=None, id=None, list=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            {{ field.label }}
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error | safe }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            {{ field(class="form-control", list=list) }}
          </div>
{% endmacro %}

{% macro datalist(list_id, options) %}
  <datalist id="{{list_id}}">
  {% for option in options %}
    <option value="{{option}}"/>
  {% endfor %}
  </datalist>
{% endmacro %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
    <div class="jumbotron">
      <h1>Hallo {{current_user.firstName | safe}}!</h1>
      {% if confirmed == None %}
        <p>Bitte fülle das Formular unten aus, um Dich zur ZaPF anzumelden.
        Deine Fachschaft kann Dich dann später mit ihrem Token bestätigen
        und ihre Prioritätenreihenfolge festlegen.</p>
      {% elif confirmed %}
        <p>Glückwunsch! Deine Fachschaft hat Dich bestätigt.</p>
      {% else %}
        <p>Du bist schon registriert, allerdings muss Deine Fachschaft Dich
        noch bestätigen.</p>
      {% endif %}
    </div>

    <form method="POST">
      {{ form.csrf_token }}
      {{ show_form_errors(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname, "Jedem Teilnehmikon wird mit dem Spitznamengenerator 9001 (TM) ein persönlicher Spitzname generiert. Wenn du das nicht willst, kannst du dir deinen Spitznamen auch selbst aussuchen:") }}
          {{ form_group(form.uni, 'Wenn Du Alumnus bist, wähle bitte die Uni "Alumni" aus.') }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Essen</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.essen) }}
          {{ form_group(form.allergien) }}
          {{ form_group(form.heissgetraenk) }}
          {{ datalist("getraenke", [
            'Berliner Luft',
            'Bier',
            'Eistee',
            'Entenpipi',
            'Fassbrause',
            'Heisse Schokolade',
            'Limo',
            'Mate',
            'Milch',
            'Saft',
            'Saftschorle',
            'Sterni',
            'Wasser laut',
            'Wasser still',
            'Kakao',
            ]) }}
          {{ form_group(form.getraenk, list="getraenke") }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Rahmenprogramm</h3>
        </div>
        <div class="panel-body">
          <p>Hier könnt Ihr Eure Wunschexkursionen angeben.
          Informationen zu den Exkursionen könnt Ihr
          <a href="https://zapf.in/berlin/exkursionen/" target="_blank">hier</a>
          nachlesen.</p>
          {{ form_group(form.exkursion1, id="exkursion1") }}
          {{ form_group(form.exkursion2, id="exkursion2") }}
          {{ form_group(form.exkursion3, id="exkursion3") }}
          {{ form_group(form.exkursion4, id="exkursion4") }}
          {{ form_group(form.geburtsdatum, "Wird nur bei der Stadtführung mit Besuch im Bundestag benötigt", "birthday") }}

          <div class="form-group">
            <label>Freitagabend</label>
            <div class="checkbox">
              <label>
                {{ form.alkoholfrei() }}
                {{ form.alkoholfrei.label }}
              </label>
            </div>
          </div>

          {{ form_group(form.musikwunsch) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.tshirt) }}
          {{ form_group(form.zelten) }}
          {{ form_group(form.kommentar) }}
          {{ form_group(form.orgaprobleme) }}
          {% if form.wach %}
            {{ form_group(form.wach) }}
          {% endif %}
        </div>
      </div>
      {{ form.submit(class="btn-submit btn-default btn") }}
    </form>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='sose17/registration.js')}}"></script>
{% endblock %}
