{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% macro form_group(field, help_text=None) %}
          <div class="form-group">
            {{ field.label }}
            {{ field(class="form-control") }}
            {% if help_text %}
            <span class="help-block">
              {{ help_text }}
            </span>
            {% endif %}
          </div>
{% endmacro %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h1>Hallo {{current_user.firstName | safe}}!</h1>
    <p>Du möchtest zur ZaPF kommen?</p>
    {% else %}
    <h1>Anmeldung zur ZaPF</h1>
    <p>Um Dich für die ZaPF anzumelden brauchst du einen <a href="https://auth.zapf.in/">ZaPF-Account</a>. Lege Dir dort am besten einen an, und click dann auf den Link:</p>
    <p><a class="btn btn-primary btn-lg" href="{{url_for('oauth_client.login')}}" role="button">Hier gehts zur Anmeldung</a></p>
    {% endif %}
  </div>

  {% if current_user.is_authenticated %}
    <form method="POST">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname, "jedem Teilnehmikon wird mit dem Spitznamengenerator 9001 (TM) ein persönlicher Spitzname generiert. Wenn du das nicht willst, kannst du dir deinen Spitznamen auch selbst aussuchen") }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Essen</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.essen) }}
          {{ form_group(form.allergien) }}
          {{ form_group(form.heissgetraenk) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Rahmenprogramm</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.exkursion1) }}
          {{ form_group(form.exkursion2) }}
          {{ form_group(form.exkursion3) }}
          {{ form_group(form.exkursion4) }}
          {{ form_group(form.geburtsdatum, "Wird nur bei der Stadtführung mit Besuch im Bundestag benötigt") }}

          <div class="checkbox form-group">
            <label>
              {{ form.alkoholfrei() }}
              {{ form.alkoholfrei.label }}
            </label>
          </div>

          {{ form_group(form.musikwunsch) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.kommentar) }}
          {% if form.wach %}
            {{ form_group(form.wach) }}
          {% endif %}
        </div>
      </div>
    </form>
  {% endif %}
</div>

{% endblock %}
