{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% macro form_group(field, help_text=None, id=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            {{ field.label }}
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error | safe }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {{ help_text }}
            </span>
            {% endif %}
            {{ field(class="form-control") }}
          </div>
{% endmacro %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h1>Hallo {{current_user.firstName | safe}}!</h1>
    {% if confirmed == None %}
      <p>Bitte fülle das Formular unten aus, um Dich zur ZaPF anzumelden.
      Deine Fachschaft kann Dich dann später mit ihrem Token bestätigen
      und ihre Prioritätenreihenfolge festlegen.</p>
    {% elif confirmed %}
      <p>Glückwunsch! Deine Fachschaft hat Dich bestätigt.</p>
    {% else %}
      <p>Du bist schon registriert, allerdings muss Deine Fachschaft Dich
      noch bestätigen.</p>
    {% endif %}
    {% else %}
    <h1>Anmeldung zur ZaPF</h1>
    <p>Um Dich für die ZaPF anzumelden brauchst du einen <a href="https://auth.zapf.in/">ZaPF-Account</a>. Lege Dir dort am besten einen an, und click dann auf den Link:</p>
    <p><a class="btn btn-primary btn-lg" href="{{url_for('oauth_client.login')}}" role="button">Hier gehts zur Anmeldung</a></p>
    {% endif %}
  </div>

  {% if current_user.is_authenticated %}
    <form method="POST">
      {{ form.csrf_token }}
      {{ show_form_errors(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname, "jedem Teilnehmikon wird mit dem Spitznamengenerator 9001 (TM) ein persönlicher Spitzname generiert. Wenn du das nicht willst, kannst du dir deinen Spitznamen auch selbst aussuchen") }}
          {{ form_group(form.uni, 'Wenn Du Alumnus bist, wähle bitte die Uni "Alumni" aus.') }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Essen</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.essen) }}
          {{ form_group(form.allergien) }}
          {{ form_group(form.heissgetraenk) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Rahmenprogramm</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.exkursion1) }}
          {{ form_group(form.exkursion2) }}
          {{ form_group(form.exkursion3) }}
          {{ form_group(form.exkursion4) }}
          {{ form_group(form.geburtsdatum, "Wird nur bei der Stadtführung mit Besuch im Bundestag benötigt", "birthday") }}

          <div class="checkbox form-group">
            <label>
              {{ form.alkoholfrei() }}
              {{ form.alkoholfrei.label }}
            </label>
          </div>

          {{ form_group(form.musikwunsch) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.tshirt) }}
          {{ form_group(form.zelten) }}
          {{ form_group(form.kommentar) }}
          {{ form_group(form.herzenswunsch) }}
          {{ form_group(form.orgaprobleme) }}
          {% if form.wach %}
            {{ form_group(form.wach) }}
          {% endif %}
        </div>
      </div>
      {{ form.submit(class="btn-submit btn-default btn") }}
    </form>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='sose17/registration.js')}}"></script>
{% endblock %}
      
