{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Zugangspasswort{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet"
              href="{{url_for('static', filename='sose17/passwort.css')}}">
{% endblock %}

{% block content %}
<div class="container vertical-center">
<form method="POST">
  {{ form.csrf_token }}
  <div class="input-group input-group-lg{% if form.passwort.errors %} has-error{% endif %}">
    {{ form.passwort(class="form-control input-lg", placeholder="Zugangspasswort") }}
    <span class="input-group-btn">
      <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </span>
  </div>
  <span class="help-block">
    {% if form.passwort.errors %}
    <ul>
    {% for error in form.passwort.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </span>
</form>

</div>
{% endblock %}
