{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Anmeldung Zig Zag ZaPF 2021{% endblock %}

{% macro form_group(field, help_text=None, id=None, list=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            {{ field.label }}
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            {{ field(class="form-control", list=list) }}
          </div>
{% endmacro %}

{% macro checkbox(field, label, help_text=None, id=None) %}
          <div class="form-group{% if field.errors %} has-error{% endif %}"{% if id %} id="formgroup-{{ id }}"{% endif %}>
            <label>{{ label }}</label>
            {% if help_text or field.errors %}
            <span class="help-block">
              {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if help_text %}{{ help_text }}{% endif %}
            </span>
            {% endif %}
            <div class="checkbox">
              <label>
                {{ field }}
                {{ field.label }}
              </label>
            </div>
          </div>
{% endmacro %}

{% macro datalist(list_id, options) %}
  <datalist id="{{list_id}}">
  {% for option in options %}
    <option value="{{option}}"/>
  {% endfor %}
  </datalist>
{% endmacro %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
    <div class="jumbotron">
      <h1>Hallo {{current_user.firstName}}!</h1>
      {% if confirmed == None %}
        <p>Bitte fülle das Formular unten aus, um Dich zur ZaPF anzumelden.
        Deine Fachschaft kann Dich dann später mit ihrem Token bestätigen
        und ihre Prioritätenreihenfolge festlegen.</p>
        <p>Bitte überprüfe nach dem Absenden des Formulars,
          ob deine Daten gespeichert wurden. 
          Wenn das Formular nach dem Absenden wieder leer ist, 
          wurden die Daten <b>nicht</b>&nbsp;gespeichert.
          Das passiert u.a., wenn das Formular lange offen war, ohne abgeschickt oder neu geladen zu werden.
        </p>
      {% elif confirmed %}
        <p>Glückwunsch! Deine Fachschaft hat Dich bestätigt.</p>
      {% else %}
        <p>Du bist schon registriert, allerdings muss Deine Fachschaft Dich
        noch bestätigen.</p>
      {% endif %}
    </div>

    <form method="POST">
      {{ form.csrf_token }}
      {{ show_form_errors(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Allgemein</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.spitzname) }}
          {{ form_group(form.uni, 'Wenn Du zu den Alumni gehörst, wähle bitte die Uni "Universidad de los Saccos Veteres " aus.') }}
          {{ form_group(form.immatrikulationsbescheinigung, 'Für die BMBF-Förderung müssen wir eure Immatrikulationsbescheinigungen einsammeln. Um das möglichst gut mit Datenschutz vereinbaren zu können, müsst ihr eine ausgedruckte Immatrikulationsbescheinigung mitbringen. Informationen zum weiteren Vorgehen gibt es dann vor Ort.') }}
          {{ form_group(form.anrede, 'Auf deinem Tagungsausweis wird vermerkt, wie du angesprochen werden möchtest.') }}
          {{ form_group(form.anrede2) }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Essen</h3>
        </div>
        <div class="panel-body">
          {{ form_group(form.essen) }}
          {{ form_group(form.allergien) }}
          {{ form_group(form.essensformen) }}
          {{ form_group(form.essensmenge) }}
          {{ form_group(form.heissgetraenk) }}
          {{ form_group(form.alkohol) }}
        </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Merch</h2>
          </div>
          <div class="panel-body">
            {{ form_group(form.tshirt, 'Nicht im Anmeldepreis enthalten.') }}
            {{ form_group(form.nrtshirt, 'Verbindliche Kaufzusage.') }}
            Zusätzliche Infos zu Größen, Preis, Design und Arbeitsbedingungen findest du auf <a href="https://zigzag.uni-goettingen.de/merch" target="_blank"> unserer Webseite </a>
            {{ checkbox(form.nottasse) }}
            {{ checkbox(form.nottasche) }}
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Reiseinfos</h2>
        </div>
        <div class="panel-body">
          {{ form_group(form.anreise_zeit, id="anreise_zeit") }}
          {{ form_group(form.abreise_zeit, id="abreise_zeit") }}
          {{ form_group(form.anreise_witz,'Wie würdest Du Anreisen, wenn du drei Enten und zwei Füchse mitbringen müsstest und die Ente nicht zusammen mit dem Fuchs darf... Du weißt wie es weitergeht', id="anreise_verkehr") }}
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Standorte</h2>
        </div>
        <div class="panel-body">
          <p>
            Diese Tagung basiert auf einem Hybridkonzept, deswegen ist sowohl eine Online-Teilnahme
            als auch eine Präsenzteilnahme möglich. Alle inhaltliche Arbeit der Tagung wird online
            stattfinden und es gibt auch ein online Rahmenprogramm. Wir bitten dich uns nachzusehen,
            dass wir es nicht geschafft haben, bei Auswahl der Online-Teilnahme alle dann irrelevanten
            Felder auszublenden. Fülle diese dann bitte einfach nicht aus :-). Außerdem tut es uns sehr
            leid, dass wir noch nicht versprechen können, ob alle, die in Präsenz teilnehmen möchten,
            das auch können, da wir dort nur eine begrenzte Anzahl an Plätzen haben.
          </p>
          {{ form_group(form.modus) }}
          <p>
            Hier werden alle Infos zu den einzelnen Standorten abgefragt. Unter anderem könnt ihr euren
            Wunschstandort, eure Wunschperson und weitere Besonderheiten angeben. Wir können nicht
            garantieren, dass ihr eure Wünsche auch bekommt, denn die gesamte Personenverteilung auf
            die Standorte müssen wir noch organisieren.
          </p>
          {{ checkbox(form.barrierefreiheit) }}
          {{ form_group(form.standort,'Hier kannst du deinen Wunschstandort angeben') }}
          {{ form_group(form.impfstatus, 'Wir müssen den Impfstatus zu COVID-19 abfragen, da die Tagung sonst nicht stattfinden kann. Wenn Du keine Angabe machst, gilst du als ungeimpft.') }}
          {{ checkbox(form.impfzertifikat) }}
          {{ checkbox(form.coronatest, 'Ob du dich testen lässt oder nicht, kannst du unabhängig vom Impfstatus angeben. Nur bei Teilnehmenden ohne vollständigen Impfschutz oder Genesung, die in Präsenz teilnehmen wollen, müssen wir diese Information haben.') }}
          {{ form_group(form.partner, 'Hier kannst du deine Wunschperson angeben, mit der du an einen Standort kommen möchtest. Wir bitten die Angabe auf eine Person zu beschränken oder beliebige Person aus der gleichen Fachschaft reinzuschreiben. Bei keiner Präferenz bitte freilassen') }}
          {{ checkbox(form.nurmitpartner) }}
          <h3> Unterkunft </h3>
          {{ checkbox(form.notbinarytoiletten) }}
          {{ checkbox(form.notbinaryduschen) }}
          {{ checkbox(form.notgruppenduschen) }}
          {{ checkbox(form.nurohnegruppenduschen) }}
          {{ checkbox(form.doppelbettbeliebig) }}
          {{ checkbox(form.doppelbettbestimmt) }}
          {{ checkbox(form.klein) }}

          {{ form_group(form.privatunterbringung, 'Für den Standort könnte ich mich privat um eine Unterbringung kümmern sofern notwendig. Wir könnten dann entsprechend ggf. mit mehr Plätzen an dem Ort planen, geben jedoch keinerlei Garantie, das Du dann tatsächlich an den Ort kommst.') }}
          {{ form_group(form.tagesgast, 'Ich kann als Tagesgast teilnehmen, d.h. ich brauche keine Unterbringung in der Stadt.') }}
          {{ checkbox(form.praesenzplatz, 'Bitte ankreuzen, wenn du bei der Verteilung der Präsenzplätze eine geringere Priorität haben möchtest') }}
          Ich habe zur Kenntnis genommen, dass meine Fachschaft bis zwei Wochen vor Anmeldeschluss einen Antrag auf Förderung finanzschwacher Fachschaften an <a href="mailto:foerderung@zapfev.de">foerderung@zapfev.de</a>  stellen kann.
          {{ checkbox(form.foerderung) }}
          Ich habe das <a href="https://zigzag.uni-goettingen.de/tagungsort/hygienekonzept" target="_blank">Hygienekonzept</a> zur Kenntnis genommen.
          {{ checkbox(form.hygiene) }}
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sonstiges</h2>
        </div>
        <div class="panel-body">
          {{ form_group(form.vertrauensperson) }}
          {{ form_group(form.protokoll) }}
          {{ form_group(form.zaepfchen, 'Wenn du angibst einen Mentor zu wollen, erklärst du dich damit einverstanden, dass wir deine E-Mail-Adresse an deinen Mentor weitergegeben.') }}
          Alle Informationen zu ZaPF-Mentorika findest du auf <a href="https://zigzag.uni-goettingen.de/hinweise-fuer-zaepfchen/" target="_blank"> unserer Webseite </a>.
          {{ checkbox(form.mentor) }}
          {{ form_group(form.alter, 'Alterscheck - Wir wollen nur auf Nummer sicher gehen. Die über 27 ist ggf. wichtig für die Unterkunft in einer Jugendherberge.') }}
          {{ checkbox(form.foto) }}
          {{ form_group(form.immatrikulationsbescheinigung2) }}
          {{ form_group(form.kommentar) }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Datenschutz</h2>
        </div>
        <div class="panel-body">
          Ich habe die <a href="{{url_for('static', filename='wise21/datenschutz.html')}}" rel="noopener noreferrer" target="_blank">Datenschutzerklärung</a> gelesen und bin mit der darin beschriebenen Verarbeitung meiner Daten einverstanden.
          {{ checkbox(form.datenschutz) }}
        </div>
      </div>
      {{ form.submit(class="btn-submit btn-default btn") }}
    </form>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='wise21/registration.js')}}"></script>
{% endblock %}
